@import "/src/styles.scss";

.name {
  grid-area: name;
  font-family: $h1style;
  font-size: $h1size;
  font-weight: 900;
  @media screen and (min-width: $phonemin) and (max-width: $phonemax) {
    padding-left: 30px;
    font-size: 34px;
  }
}

.title{
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  width: 280px;
  height: 119px;
  @media screen and (min-width: $notebookmin) and (max-width: $notebookmax) {
    min-width: 43%;
  }
  @media screen and (min-width: $phonemin) and (max-width: $phonemax) {
    width: 88%;
    height: 96px;
  }
  p {
    font-family: $pstyle;
    font-size: $psize;
    color: #575757;
  }
  h1 {
    margin: 0px;
    font-family: $h1style;
    font-size: $h1size;
    font-weight: 900;
    color: black;

    @media screen and (min-width: $phonemin) and (max-width: $phonemax) {
      font-size:34px;
    }
    
    @media screen and (max-width:$phonemin) and (min-width:200px) {
      font-size:24px;
    }
  }
}
