$phonemin:320px;
$phonemax:767px;
$notebookmin:1100px;
$notebookmax:1119px;
$desktopmin:1120px;
$desktopmin:1439px;
$maxscreen:1440px;
$h2size:30px; 
$h2style:bold;
$h1size:54px;
$h1style:normal;
$psize:16px;
$pstyle:light;
